body {

}

.navbar .navbar-brand {
  margin-left: 50px;
}

.navbar .nav-item {
  cursor: pointer;
}


.mt-lg {
  margin-top: 50px;
}

.mt-sm {
  margin-top: 20px;
}

.hover-click {
  cursor: pointer;
}

.clearBoth { clear:both; }

.header-left { float: left; margin-top: 7px}
.header-right {float: right }

.header .text-muted {
  margin-top: 14px;
  margin-left: 20px;
}

.header .btn {
  margin-left: 20px;
}




#addUserForm {
  display: none;
}
