body {

}

.navbar .navbar-brand {
  margin-left: 50px;
}

.navbar .nav-item {
  cursor: pointer;
}


.mt-lg {
  margin-top: 50px;
}

.mt-sm {
  margin-top: 20px;
}

.hover-click {
  cursor: pointer;
}

.clearBoth { clear:both; }

.header-left { float: left; margin-top: 7px}
.header-right {float: right }

.header .text-muted {
  margin-top: 14px;
  margin-left: 20px;
}

.header .btn {
  margin-left: 20px;
}

.blue-link {
  color: #0645AD !important;
  cursor: pointer;
}
.blue-link:hover {
  text-decoration: underline !important;
}

.form-check { margin-left: 5px;}

.modal { position: absolute !important; }

.del-img {
  width: 30px;
  float: right;
  margin-right: -10px;
  margin-top: -6px;
  cursor: pointer;
  display: None;
}
.del-img:hover {
  opacity: .85;
}

.help-icon {
  width: 30px;
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.help-icon:hover{
  opacity: 0.75;
}


#addUserForm {
  display: none;
}
