{% extends "base_generic.html" %}

{% block content %}
<!-- Page Content -->

    <!-- Tutorial Modal -->
    <div class="modal fade" id="tutModal" tabindex="1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">How to Add Users</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul id="addLeaderList" class="list-group">
              <li class="list-group-item"><div><strong>1.</strong></div><div class="tut-desc">Create a leader account for each subgroup (one per timeblock)</div></li>
              <li class="list-group-item"><div class="bullet"><strong>a.</strong>If there is more than one person in a leader account, name that account with both names.</div></li>
              <li class="list-group-item"><div class="bullet"><strong>b.</strong>Create separate member accounts for each person.</div></li>
              <li class="list-group-item"><div><strong>2.</strong></div><div class="tut-desc">Input all members, with their leader preferences</div></li>
              <li class="list-group-item"><div><strong>3.</strong></div><div class="tut-desc">Click 'Display Optimal Schedule'</div></li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success done" data-dismiss="modal">Got It</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-lg">
      <div class="header">
        <h3 class="header-left"><strong id="groupName"></strong></h3>
        <h5 class="header-left text-muted" id="groupTerm"></h5>
        <img class="help-icon header-right" src="/static/img/help_icon.png" />
        <a href="{% url 'schedule' %}" class="btn btn-md btn-primary header-right" onclick='runAlgorithm()' id="runAlgorithm">Display Optimal Schedule</a>
        <button class="btn btn-success header-right" id="addUserButton">Add User</button>
        <button class="btn btn-danger header-right" id="deleteUserButton">Delete User</button>
        <br class="clearBoth" />
      </div>
      <hr style="width=80%; margin-top=20px"/>
    </div>

    <div class="container user-list">

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Preferred Leaders</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul id="leaderList" class="list-group"></ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Leader Modal -->
      <div class="modal fade" id="leaderModal" tabindex="1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Select Leaders to Add</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul id="addLeaderList" class="list-group"></ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="addSelectedLeaders">Done</button>
            </div>
          </div>
        </div>
      </div>


      <div class="row mt-lg">
        <div class="col-12 col-lg-6">

          <h4 style="display:inline">Members</h4><h5 style="display:inline; float: right; margin-right: 20px;" id="numMembers">2</h5>

          <table class="table table-striped member-table" id="memberTable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Preferred Leaders</th>
              </tr>
            </thead>
            <tbody></tbody></table>
        </div>

          <div class="col-12 col-lg-6">

            <span><h4 style="display:inline">Leaders</h4><h5 style="display:inline; float: right; margin-right: 20px;" id="numLeaders">2</h5></span>

            <table class="table table-striped leader-table" id="leaderTable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Preferred Leaders</th>
                </tr>
              </thead>
              <tbody></tbody></table>
          </div>
        </div> <!-- ./row -->




      <div class="jumbotron mt-lg" id="addUserForm">
        <h2 style="margin-top: -50px;"><strong>Add New User</strong></h2>
        <div class="alert alert-info" role="alert">
          <strong>Tip:</strong> Hover over each section for more information and instructions!
        </div>
        <form class="mt-sm" method="post">{% csrf_token %}
          <!-- Name -->
          <div class="form-group row mt-sm">
            <label for="nameInput" class="col-sm-2 col-form-label" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="Enter a user's first and last name, seperated by a space.">Name</label>
            <div class="col-sm-10">
              <input class="form-control" id="nameInput" placeholder="First and Last">
            </div>
          </div>
          <div class="form-group row">
            <label for="emailInput" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input class="form-control" id="emailInput" placeholder="example@gmail.com">
            </div>
          </div>

          <!-- Member/Leader -->
          <div class="form-check form-check-inline active" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="Select a user's status within the group.  A user can be a member (e.g. a dancer), a leader (e.g. a choreographer), or both.">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="memberCheckbox" value="option1" checked="checked"> Member</input>
            </label>
          </div>
          <div class="form-check form-check-inline" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="Select a user's status within the group.  A user can be a member (e.g. a dancer), a leader (e.g. a choreographer), or both.">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="leaderCheckbox" value="option2"> Leader</input>
            </label>
          </div>

          <!-- Preferred Leaders -->
          <div class="mt-lg preferred-leaders"><h4 style="width: 220px; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="Select all leaders that a member prefers to be matched with.  If the leader's infomation has not yet been entered, you can add more preferred leaders once the user is added to the table above.">
              <strong>Preferred Leaders</strong></h4>
          </div>
          <div id="preferredLeaders"></div>

          <!-- Preferred Times -->
          <div class="mt-lg preferred-times"><h4 style="width: 150px; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="Choose all times that a user is available.  The more time slots selected, the easier it is to match that user!">
            <strong>Availability</strong></h4>
          </div>
          <div  style="margin-top: -20px;"id="timeBlocks">
          <div class=" row mt-lg mon-thurs time_blocks">
            <div class="col col-3" id="monday"><h5>Monday</h5></div>
            <div class="col col-3" id="tuesday"><h5>Tuesday</h5></div>
            <div class="col col-3" id="wednesday"><h5>Wednesday</h5></div>
            <div class="col col-3" id="thursday"><h5>Thursday</h5></div>
          </div> <!-- ./row -->

          <div class=" row mt-lg fri-sun time_blocks">
            <div class="col col-3" id="friday"><h5>Friday</h5></div>
            <div class="col col-3" id="saturday"><h5>Saturday</h5></div>
            <div class="col col-3" id="sunday"><h5>Sunday</h5></div>
          </div> <!-- ./row -->
        </div>

        </form>

        <span>
          <a href="/"><button class="btn btn-success mt-sm" id="submitNewUser">Submit</button></a>
          <button class="btn btn-danger cancel mt-sm" style="margin-left: 10px">Cancel</button>
        </span>
    </div>
    <div style="height: 50px;" />
    </div> <!-- ./user-list -->

{% load static %}<script src="{% static 'js/users.js' %}"></script>
{% endblock %}
