{% extends "base_generic.html" %}

{% block content %}

<div class="container mt-lg">
  <div class="header">
    <h3 class="header-left"><strong id="groupName">{{ group_info.group_name }}</strong></h3>
    <h5 class="header-left text-muted" id="groupTerm">{{ group_info.group_term }}</h5>
    <a class="header-right" href="{% url 'index' %}" style="margin-top: 8px">&laquo; Back</a>
    <br class="clearBoth" />
  </div>
  <hr style="width=80%; margin-top=20px"/>
</div>
<div class="container schedule">
  <table class="table schedule-table" id="scheduleTable">
    <thead>
      <tr>
        <th style="width: 30%">Time Block</th>
        <th style="width: 10%">Monday</th>
        <th style="width: 10%">Tuesday</th>
        <th style="width: 10%">Wednesday</th>
        <th style="width: 10%">Thursday</th>
        <th style="width: 10%">Friday</th>
        <th style="width: 10%">Saturday</th>
        <th style="width: 10%">Sunday</th>
      </tr>
    </thead>
    <tbody>
      <!-- This gets filled with users w/ JS -->
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>


{% load static %}<script src="{% static 'js/schedule.js' %}"></script>

{% endblock %}
